const secrets = {
  RPC_ENDPOINT: undefined,
  DEPLOYER_PRIVATEKEY: undefined,
  ACCOUNT2_PRIVATEKEY: undefined,
  TESTNET_RPC_ENDPOINT: undefined,
  TESTNET_DEPLOYER_PRIVATEKEY: undefined,
  ETHERSCAN_API_KEY: undefined,
}

module.exports = {
  secrets
}
